<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="source" value="C:\Users\Admin\Desktop\musorka\xps"/>
    <add key="dest" value="C:\Users\Admin\Desktop\musorka\out"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
